
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-flow: column;
	justify-content: center;
	font-family: Arial;
	color: #666666;
	background: #e570e7;
	overflow: hidden;
	background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
	background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
	background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
}
h1, h2 {
	text-align: center;
}
h2 {
	align-self: center;
	font-size: 15px;
	margin: 10px;
	padding: 0;
}
p {
    margin: 10px;
    padding: 0;
    text-align: center;
    font-size: 20px;
}
section {
	width: 320px;
	align-self: center;
	border-radius: 5px;
	background: #fffefe;
	padding: 10px;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
 	justify-content: space-around;
    flex-flow: row wrap;
    align-content: flex-start;
	background-color: #fbfbfb;
}
li {
	display: flex;
	justify-content: space-between;
	background: #e0e0e0;
	padding: 0px;
	margin: 5px;
	width: 100%;
}
li:nth-child(odd) {
	background: #eeeeee;
}
form {
	margin: 20px 0 0 0;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
input, button, ul, li {
	border-radius: 5px;
}
label {
	margin: 10px 0 5px 0;
}
input {
	margin-bottom: 5px;
	padding: 10px;
	border: 2px solid #666666;
}
input[type="number"] {
	width: 50%;
}
input:last-of-type {
	margin-bottom: 30px;
}
button {
	border: none;
	padding: 10px;
	background: #41C526;
	color: #ffffff;
	font-size: 15px;
	text-shadow: 0px 2px 2px #5f5f5f;
}
button#add {
	background: #41C526;
 	border: 2px solid #4a8c0d;
}
button#delete {
	background: #d81414;
    border: 2px solid #8c0d2a;
}
button#send {
	background: #01bcda;
    border: 2px solid #0d758c;
}
button#emptyList {
    background: #fdfd0a;
    border: 2px solid #dbde0c;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
.selected {
	background-color: #c1e5ff!important;
}
.formError {
	border: 2px solid red;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #fbfbfb;
    border-radius: 5px;
    padding: 10px;
}
.itemContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-basis: 1 1 auto;
}
.item {
    flex: 1 0 80%;
    display: flex;
    flex-flow: column;
    margin-right: 10px;
}
.qty {
    flex: 0 1 20%;
    display: flex;
    display: ;
    flex-flow: column;
}
#output {
	text-align: center;
}